body {
    font-family: Arial, sans-serif;
    font-size: 20px;
}

header {
    padding: 10px;
}

main {
    padding: 10px;
}

footer {
    padding: 10px;
}

.main-container {
    display: flex;
    flex-direction: row;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.column {
    flex: 1;
}

@media screen and (max-width: 768px) {
    .header-container {
        flex-direction: column;
    }

    .main-container {
        flex-direction: column;
    }
}

h2 {
    padding-bottom: 0;
    margin-bottom: 0;
}

.remove::after {
    content: " ×";
    color: red;
}

li {
    margin: 5px 0;
    padding: 5px 0;
}

.totalAmount {
    font-weight: bold;
    font-size: 2em;
}

button.checkoutButton {
    margin-right: 10px;
}

ul.productList {
    padding-top: 0;
    margin-top: 0;
}


/*
Tabs
*/
.tabs {
    display: flex;
    cursor: pointer;
}

.tab-button {
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    margin-right: 5px;
}

.tab-button.active {
    background-color: #ddd;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: inline;
}